* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR';
}

html, body {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

ul li {
	list-style-type: none;
}

a, a:hover {
	color: black;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

@font-face {
	src: url("../../font/YouandiNewKrTitle-Bold.woff2");
	font-family: "YouandiNewKrHEB";
}

@font-face {
	src: url("../../font/NotoSansKR-Regular.otf");
	font-family: "Noto Sans Kr";
	font-weight: 400;
}

@font-face {
	src: url("../../font/NotoSansKR-Medium.otf");
	font-family: "Noto Sans Kr";
	font-weight: 500;
}

@font-face {
	src: url("../../font/NotoSansKR-Bold.otf");
	font-family: "Noto Sans Kr";
	font-weight: 700;
}

@font-face {
	src: url('../../font/Roboto-Regular.ttf');
	font-family: "Roboto";
	font-weight: 400;
}

@font-face {
	src: url("../../font/Roboto-Medium.ttf");
	font-family: "Roboto";
	font-weight: 500;
}

@font-face {
	src: url('../../font/Roboto-Bold.ttf');
	font-family: "Roboto";
	font-weight: 700;
}

@font-face {
    font-family: 'GimpoGothic';
    src : url('../../font/GimpoGothicBold00.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GimpoGothic';
    src : url('../../font/GimpoGothicRegular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('../../font/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}