main {
	width: 100%;
	height: 100%;
	position: absolute;
	
	display : flex;
	justify-content : center;
	align-items: center;
	
	background-image : url("../..//image/imageSlide/imageSlide1.webp");

}

.login-wrapper {
	width: 414px;
	padding : 0 27px;
	padding-bottom: 30px;
	border-radius : 10px;
	background-color : white;
	border : 3px solid black;
	
	@media screen and (min-width: 816px) {
		width: 816px;
		padding : 0 24px;	
	}
}

.title {
	display: flex;
	justify-content : center;
	align-items : center;
	margin-top: 30px;
}

.input-wrapper, .button-wrapper {
	width : 100%;
}

.input-wrap, .button-wrap {
	width : 100%;
	display : flex;
	justify-content : center;
}

.input-wrap {
	
}

.login-input {
	width : 100%;
	padding: 10px;
	border: none;
	outline : none;
	margin-bottom: 20px;
	border-bottom: 1px solid gray;
}

.button-wrap {
	
}

.login-button {
	width: 100%;
	background : 0 0;
	text-align: center;
	padding: 10px 0px;
	border-radius : 10px;
	display : inline-block;
	background-color : black;
	color : white;
	margin-bottom: 10px;
}

.login-wrapper {
	
}

.text-wrapper {
	margin-top: 15px;
	display : flex;
	justify-content : center;
}

